################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pos-DatabaseVS2015/Pos-DatabaseVS2015.VC.VC.opendb
